@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grayish-red: hsl(0, 6%, 24%);
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
}

html {
  max-width: 1500px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(
    0deg,
    hsl(0, 0%, 100%) 0%,
    hsl(0, 100%, 98%) 100%
  );
}

.main-content {
  display: flex;
}

.text-content {
  width: 60%;
  height: auto;
  padding: 60px 160px;
}

.logo {
  margin-bottom: 120px;
}

.text-content h1 {
  text-transform: uppercase;
  letter-spacing: 12px;
  font-size: 56px;
  font-weight: 400;
  color: #413839;
  line-height: 60px;
}

strong {
  color: var(--desaturated-red);
  font-weight: 300;
}

.text-content p {
  color: var(--desaturated-red);
  width: 450px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.hero-image {
  width: 40%;
  height: 100vh;
  background: url(../img/hero-desktop.jpg);
  background-repeat: no-repeat;
}

.btn-box {
  width: 450px;
  position: relative;
}

.email-input {
  border: 2px solid var(--desaturated-red);
  border-radius: 2rem;
  width: 450px;
  padding: 15px 20px;
}

.email-input::placeholder {
  color: var(--desaturated-red);
}

.email-input:focus {
  outline: none;
}

.btn {
  background: linear-gradient(0deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  box-shadow: 0 5px 20px 3px hsl(0, 80%, 86%);
  color: #fff;
  border-radius: 2rem;
  position: absolute;
  right: 0px;
}

.btn:hover {
  background: #FACECF;
}

.btn-image {
  width: 15px;
}

#error-email {
  position: absolute;
  padding: 10px 20px;
  color: var(--desaturated-red);
  font-size: 14px;
}

.email-input.error {
  border: 2px solid var(--soft-red);
}

#error-icon {
  display: none;
}

#error-icon.active {
  display: block;
  position: absolute;
  left: 335px;
  top: 12px;
}

#success-email {
  padding: 10px 20px;
  color: #111;
  font-size: 14px;
}

@media (max-width: 1050px) {
  .main-content {
    flex-direction: column-reverse;
  }
  .text-content {
    padding: 60px 0px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
  }
  .text-content p {
    text-align: center;
    width: 100%;
  }
  .hero-image {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: top;
    margin-top: 117px;
  }
  header {
    position: absolute;
    background: white;
    width: 100%;
    top: 0px;
    left: 0;
  }
  .logo {
    margin: 0;
    padding: 40px 60px;
  }
}

@media (max-width: 750px) {
  .text-content {
    padding: 60px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .text-content p {
    width: 100%;
  }
  .btn-box {
    width: 100%;
  }
  .email-input {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  .btn {
    top: 0px;
  }
}

@media (max-width: 460px) {
  .text-content h1 {
    font-size: 32px;
  }
}

@media (max-width: 400px) {
  #error-icon.active {
    left: 240px;
  }
}