@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');
@import url(header.css);
@import url(hero.css);
@import url(modal.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  font-family: 'Commissioner', sans-serif;
}

:root {
  --moderate-cyan: #3cb4ac;
  --dark-cyan: #147b74;
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
  --light-gray: #F4F8F9;
  --white: #ffffff;
  --main-background: #FAFAFA;

  --normal-fsize: 1rem;
}

.container {
  padding: 20px 40px;
  max-width: 1125px;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .container {
    padding: 20px 20px;
  }
}