@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
  font-family: "Space Mono", monospace;
}

body {
  background: var(--light-grayish-cyan);
  height: 100vh;
  width: 100%;
  position: relative;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --input-fsize: 24px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-bg {
  display: flex;
  justify-content: center;
  padding: 60px 0px;
}

form {
  padding: 20px 20px;
  background: var(--white);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* calculate inputs */

.calculate-tip {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

fieldset {
  border: none;
}

label {
  display: block;
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  margin-bottom: 10px;
}

input {
  font-size: var(--input-fsize);
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--very-light-grayish-cyan);
  outline: none;
  background: var(--very-light-grayish-cyan);
  text-align: end;
  margin-bottom: 10px;
  color: var(--grayish-cyan);
}

input::placeholder {
  text-align: end;
  font-family: "Space Mono", monospace;
  color: var(--grayish-cyan);
}

input:focus {
  border: 1px solid var(--strong-cyan);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.dollar-icon {
  position: absolute;
  left: 20px;
  width: 12px;
  top: 13px;
  height: 20px;
  background: url(../images/icon-dollar.svg);
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

.people-icon {
  position: absolute;
  left: 20px;
  width: 12px;
  top: 16px;
  height: 20px;
  background: url(../images/icon-person.svg);
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

input[type="radio"] {
  appearance: none;
  background: var(--very-dark-cyan);
  text-align: center;
  padding: 20px 40px;
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.radio-button {
  display: inline-block;
  border-radius: 4px;
  background-color: var(--very-dark-cyan);
  padding: 6px;
  width: 110px;
  font-size: var(--input-fsize);
  text-align: center;
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.radio-button-custom {
  display: inline-block;
  border-radius: 4px;
  padding: 6px;
  width: 110px;
  font-size: var(--input-fsize);
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  background: var(--very-light-grayish-cyan);
  color: var(--dark-grayish-cyan);
  font-weight: 700;
  cursor: text;
}

.radio-button-custom::placeholder {
  font-size: 20px;
}

/* results */
.result-tip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background: var(--very-dark-cyan);
  color: var(--white);
  height: 375px;
  width: 366px;
  padding: 60px 30px 30px 30px;
}

.tip-amount {
  display: flex;
  justify-content: space-between;
}

.tip-total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.tip-amount p,
.tip-total p {
  font-weight: 700;
  position: relative;
}

.tip-amount p::before,
.tip-total p::before {
  position: absolute;
  left: 0;
  font-size: 14px;
  color: var(--grayish-cyan);
  top: 20px;
  content: "/ person";
  white-space: nowrap;
}

.tip-amount span,
.tip-total span {
  color: var(--strong-cyan);
  font-weight: 700;
  font-size: 42px;
}

.btn-reset {
  background: #0d686d;
  outline: none;
  border: 2px solid #0d686d;
  color: var(--very-dark-cyan);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}
