.acess-bg {
  width: 100%;
  height: auto;
  background: linear-gradient(
    0deg,
    var(--dark-blue-footer-background) 44%,
    var(--dark-blue-main-background) 44%
  );
}

.acess-bg h2 {
  color: var(--white);
  font-size: 2.5rem;
  font-family: var(--heading-font);
  text-align: center;
  margin-bottom: 40px;
}

.acess-bg p {
  color: var(--white);
  font-size: 0.875rem;
  font-family: var(--body-font);
  text-align: center;
  margin-bottom: 40px;
}

.form {
  display: block;
  margin: 0 auto;
  width: 850px;
  background: var(--dark-blue-intro-email-sign-up-background);
  padding: 40px 100px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.email-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: none;
  border: none;
}

.form input {
  padding: 16px 16px;
  width: 450px;
  background: var(--input);
  border-radius: 22px;
  outline: none;
  border: none;
}

.form input::placeholder {
  font-family: var(--body-font);
}

.btn-form {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 16px 36px;
  border-radius: 22px;
  color: var(--white);
  font-weight: 700;
  background: linear-gradient(
    to right,
    var(--cyan-inside-call-to-action-gradient),
    var(--blue-inside-call-to-action-gradient)
  );
}

@media (max-width: 940px) {
  .acess-bg h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .form {
    width: 100%;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
  }
  .email-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .form input, .btn-form {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .acess-bg h2 {
    font-size: 1.3rem;
  }
  .form {
    padding: 20px;
  }
}

@media (max-width: 420px) {
  .form {
    width: 335px;
  }
}

@media (max-width: 390px) {
  .form {
    width: 300px;
  }
  .acess-bg p {
    font-size: 0.6rem;
  }
}