.footer-bg {
  width: 100%;
  height: auto;
  background: var(--dark-blue-footer-background);
}

.logo-footer {
  width: 180px;
  margin-bottom: 20px;
}

.footer-content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-text {
  display: flex;
  gap: 20px;
}

.location-icon {
  width: 20px;
  height: 20px;
  background: url(../images/icon-location.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.location-icon.light {
  background: url(../images/icon-location-light.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-text img {
  width: 20px;
  object-fit: contain;
  height: 20px;
}

.footer-text p {
  width: 300px;
  color: var(--white);
  font-size: 0.875rem;
  font-family: var(--body-font);
}

.footer-content ul {
  list-style: none;
}

.footer-content ul li {
  margin-bottom: 15px;
}

.footer-content ul li a {
  color: var(--white);
  font-family: var(--body-font);
  font-size: 0.875rem;
  text-decoration: none;
}

.phone-link, .email-link {
  position: relative;
}

.phone-link::before {
  position: absolute;
  content: "";
  background: url(../images/icon-phone.svg);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 18px;
  width: 18px;
  top: 0;
  left: -30px;
}

.email-link::before {
  position: absolute;
  content: "";
  background: url(../images/icon-email.svg);
  object-fit: contain;
  background-repeat: no-repeat !important;
  background-position: center;
  height: 18px;
  width: 20px;
  top: 0;
  left: -30px;
}

.phone-link.light::before {
  background: url(../images/icon-phone-light.svg);
}

.email-link.light::before {
  background: url(../images/icon-email-light.svg);
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons li i {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--white);
  font-size: 1rem;
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 2rem;
}
