
.btn-sign-up {
  outline: none;
  border: none;
  cursor: pointer;
  width: 120px;
  padding: 12px;
  border-radius: 22px;
  color: var(--white);
  font-weight: 700;
  background: linear-gradient( to right, var(--cyan-inside-call-to-action-gradient), var(--blue-inside-call-to-action-gradient) );
}