@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
@import url(header.css);
@import url(hero.css);
@import url(benefits.css);
@import url(productive.css);
@import url(testimonials.css);
@import url(acess.css);
@import url(footer.css);
@import url(modal.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  max-width: 1500px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  background: var(--dark-blue-main-background);
  position: relative;
}

:root {
  --dark-blue-intro-email-sign-up-background: hsl(217, 28%, 15%);
  --dark-blue-main-background: hsl(218, 28%, 13%);
  --dark-blue-footer-background: hsl(216, 53%, 9%);
  --dark-blue-testimonials-background: #21293c;

  --cyan-inside-call-to-action-gradient: #65e2d9;
  --blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --light-red-error: hsl(0, 100%, 63%);

  --white: hsl(0, 0%, 100%);

  --input: hsl(0, 0%, 100%);
  --heading-font: "Raleway", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

.light-mode:root {
  --dark-blue-intro-email-sign-up-background: hsl(210, 5%, 92%);
  --dark-blue-main-background: #E3E3E3;
  --dark-blue-footer-background: hsl(240, 8%, 79%);
  --dark-blue-testimonials-background: #f7f7f7;

  --cyan-inside-call-to-action-gradient: #65e2d9;
  --blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --light-red-error: hsl(0, 100%, 63%);

  --input: hsl(240, 8%, 79%);
  --white: #1c1c1c;
}

.container {
  max-width: 1300px;
  padding: 60px;
  margin: 0 auto;
}

[data-attributes="scroll"] {
  display: none;
}

[data-attributes="scroll"].active {
  display: block !important;
  animation: show-down .5s forwards;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -40px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}