@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
@import url(header.css);
@import url(hero.css);
@import url(benefits.css);
@import url(productive.css);
@import url(testimonials.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 1500px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  background: var(--dark-blue-main-background);
}

:root {
  --dark-blue-intro-email-sign-up-background: hsl(217, 28%, 15%);
  --dark-blue-main-background: hsl(218, 28%, 13%);
  --dark-blue-footer-background: hsl(216, 53%, 9%);
  --dark-blue-testimonials-background: #21293C;

  --cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --light-red-error: hsl(0, 100%, 63%);

  --white: hsl(0, 0%, 100%);

  --heading-font: "Raleway", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

.container {
  max-width: 1300px;
  padding: 60px;
  margin: 0 auto;
}
