@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  max-width: 1500px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  background: hsl(235, 18%, 26%);
  height: 100vh;
  width: 100%;
}

.form-content {
  display: flex;
  gap: 60px;
  border-radius: 25px;
  width: 850px;
  height: auto;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsl(0, 0%, 100%);
  padding: 20px 20px;
}

.form-content.disabled {
  display: none;
}

.content {
  margin-left: 40px;
}
.content h1 {
  font-size: 48px;
  color: hsl(234, 29%, 20%);
  margin-bottom: 20px;
}
.content p {
  margin-bottom: 20px;
}
.content ul {
  list-style: none;
}
.content li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
.content label {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
  display: block;
  margin-top: 40px;
  margin-bottom: 10px;
}
.content .email-required {
  position: relative;
}
.content .email-required .error-span {
  display: none;
}
.content .email-required .error-span.active {
  display: block;
  position: absolute;
  right: 0;
  top: -29px;
  color: hsl(4, 100%, 67%);
  font-size: 16px;
  font-weight: 700;
}
.content #input-email {
  border: 1px solid hsl(231, 7%, 60%);
  outline: none;
  width: 100%;
  border-radius: 8px;
  padding: 16px 24px;
  margin-bottom: 20px;
}
.content #input-email:placeholder {
  color: hsl(231, 7%, 60%);
}
.content #input-email:focus {
  transition: 0.3s;
  border: 1px solid hsl(4, 100%, 67%);
}
.content #input-email.error {
  color: hsl(4, 100%, 67%);
  border: 1px solid hsl(4, 100%, 67%);
  background: #FFE8E6;
}
.content button {
  outline: none;
  border: none;
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  padding: 16px 24px;
  width: 100%;
  background: hsl(234, 29%, 20%);
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}
.content button:hover {
  transition: 0.3s;
  background: linear-gradient(to right, #ff6257, #ff6257 60%, #ff8f47);
  box-shadow: 0px 25px 20px -20px hsl(4, 100%, 67%);
}

.image img {
  width: 325px;
}

.modal {
  display: none;
}

.modal.active {
  display: block;
  position: absolute;
  background: hsl(0, 0%, 100%);
  width: 470px;
  border-radius: 25px;
  padding: 60px 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
.modal.active img {
  margin-bottom: 20px;
  width: 60px;
}
.modal.active h1 {
  color: hsl(234, 29%, 20%);
  font-size: 48px;
  margin-bottom: 20px;
}
.modal.active p {
  color: hsl(234, 29%, 20%);
  margin-bottom: 20px;
}
.modal.active p .email-send {
  color: hsl(234, 29%, 20%);
  font-weight: 700;
}
.modal.active button {
  width: 100%;
  padding: 16px 24px;
  outline: none;
  border: none;
  border-radius: 8px;
  background: hsl(234, 29%, 20%);
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  text-align: center;
}
.modal.active button:hover {
  transition: 0.3s;
  background: linear-gradient(to right, #ff6257, #ff6257 60%, #ff8f47);
  box-shadow: 0px 25px 20px -20px hsl(4, 100%, 67%);
}

@media (max-width: 870px) {
  body {
    margin-bottom: 200px;
  }
  .form-content {
    flex-direction: column-reverse;
    width: auto;
    gap: 20px;
    padding: 0;
    margin-top: 130px;
  }
  .content {
    margin-left: 0px;
    padding: 30px 20px;
    width: 350px;
  }
  .image img {
    display: none;
  }
  .image {
    height: 250px;
    width: 100%;
    border-radius: 15px;
    background-image: url(../images/illustration-sign-up-mobile.svg);
    background-position: center;
    background-size: cover;
  }
}
@media (max-width: 500px) {
  .modal.active {
    width: 300px;
  }
  .modal.active h1 {
    font-size: 38px;
  }
}
@media (max-width: 365px) {
  .form-content, .content {
    width: 300px;
  }
  .form-content h1, .content h1 {
    font-size: 40px;
  }
}/*# sourceMappingURL=main.css.map */